{% extends 'base.html.twig' %}

{% block footer %}
    <div id="footer">
        Copyright &copy; 2018 Jason Roman
        - <a href="https://github.com/jasonroman" target="_blank">GitHub</a>
        - <a href="http://www.jayroman.com" target="_blank">Website</a>
    </div>
{% endblock %}