{% extends 'base.html.twig' %}

{% block googleAnalytics %}
    {% if app.environment == 'prod' %}
        {{ include('google_analytics.html.twig') }}
    {% endif %}
{% endblock %}

{% block meta %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}

{% block stylesheets %}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
{% endblock %}

{% block body %}
    {% block nav %}
        {{ include('nav.html.twig') }}
    {% endblock %}

    <main role="main" class="container main-content">
        {% block content %}{% endblock %}
    </main>
{% endblock %}

{% block javascripts %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
{% endblock %}
