{% extends 'base.html.twig' %}

{% block meta %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}

{% block stylesheets %}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    {% block nav %}
        {{ include('nav.html.twig') }}
    {% endblock %}

    <main role="main" class="container">

        <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        </div>

    </main>
{% endblock %}

{% block javascripts %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
{% endblock %}
