{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="/css/client.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="iframe-container">
        <iframe src="{{ sloan.client }}"></iframe>
    </div>
{% endblock %}